<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div *ngIf="selectedItem" padding>
       <ion-title><b>{{selectedItem.title}}</b></ion-title>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="selectedItem" padding>
        <img src='{{selectedItem.header}}'/>
       <p class="description">{{selectedItem.description}}</p>

       <br/>
       <p>
           <b>Lieu :</b> {{selectedItem.location}}<br />
           <b>Horaires :</b> {{selectedItem.horaire}}<br />
       </p>
       <button ion-button full>Y aller !</button>

    </div>
</ion-content>
