<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div *ngIf="selectedItem" padding>
      <ion-title><b>{{selectedItem.title}}</b></ion-title>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
    </button>
  </ion-list>

</ion-content>

<!-- <ion-footer>

  <ion-toolbar color="primary">
    <ion-searchbar placeholder="Rechercher" (ionInput)="filterItems($event)" (ionCancel)="onCancel($event)" [showCancelButton]="true"></ion-searchbar>
  </ion-toolbar>

</ion-footer> -->
